@model IEnumerable<BankDirectory.Models.Bank>

@{
    ViewData["Title"] = "Bank directory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="all-messages">
    <partial name="_AllBanksPartial.cshtml">
</div>
